<div class="col-md-4">
  <%=link_to storefront_item_path(item.storefront, item.id) do %>
    <%= image_tag(item.image_url, border: 1, width: "50%") %>
    <h4><%=item.name %></h4>
  <% end %>
  <p>$<%=item.price %></p>
</div>